@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:300,400,500,600,700|Work+Sans:400,500,600");
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
}
p, .paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

h1, .h1 {
  font-size: 60px;
}

@media (max-width: 400px) {
  h1, .h1 {
    font-size: 30px;
  }
}

h2, .h2 {
  font-size: 36px;
}

h3, .h3 {
  font-size: 30px;
}

h4, .h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

input[type=checkbox] {
        -moz-appearance:none;
        -webkit-appearance:none;
        -o-appearance:none;
        outline: none;
        content: none;	
    }
    input[type=checkbox]:before {
        font-family: "FontAwesome";
        content: "\f00c";
        font-size: 18px;
        color: transparent !important;
        background: #fef2e0;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid black;
        margin-right: 1px;
    }

    input[type=checkbox]:checked:before {
        color: black !important;
    } 
    .ddd {
        width: 20%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .tel{
        width: 78%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .dados {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
             -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
.cursor-pointer{
  cursor: pointer;
}
/*MENSAGENS DO SISTEMA*/
.trigger{padding: 15px 15px 15px 40px; background: #eee; font-size: 14px; color: white; margin-bottom: 15px;}
.accept{background: #71ca73 url(../icons/accept.png) center left 10px no-repeat}
.infor{background:  #0080FF url(../icons/infor.png) center left 10px no-repeat}
.alert{background:  #FF8040 url(../icons/alert.png) center left 10px no-repeat;}
.alert-login{background: #FF8040 url(../icons/alert.png) center left 10px no-repeat; text-align:center; color:white;}
.error{background:  #ffafaf url(../icons/error.png) center left 10px no-repeat}
.error{padding: 15px 15px 15px 40px;background: #d43f3a  url(../icons/error.png) center left 10px no-repeat; color:white;}
 
/*NAV SYSTEM*/
.systema_nav li{float: left;}
.systema_nav li a{float: left; margin: 2px 15px; width: 30px; height: 30px; font-size: 0;}
.systema_nav li a:hover{background-color: #09f;}
.systema_nav li .profile{background: url(../icons/profile.png) center center no-repeat;}
.systema_nav li .users{background: url(../icons/users.png) center center no-repeat;}
.systema_nav li .logout{background: url(../icons/logout.png) center center no-repeat;}
.systema_nav li .icon{background-size: 80%;}
.systema_nav .username{margin: 5px 15px; float: left; font-variant: small-caps; color: #004080;}
 
 /*BOX GERAL*/
.boxtitle{border-bottom: 2px solid #ccc; margin-top:-1px;  margin-bottom: 5px; padding-bottom: 5px;}
.boxsubtitle{font-size: 16px; color: #444; font-weight: 400; margin-bottom: 10px;}
.boxaside{width: 298px; padding: 10px; background: #eee; margin-bottom: 20px;}
.boxaside:last-child{margin: 0;} 

/*BOX*/ 
.jumbotronBox {padding-top: 30px;padding-bottom: 30px;margin-bottom: 30px;color: inherit;background-color: #eee;border: 1px solid #B7B7B7;}
    
/*PARALLAX*/     
.parallax1{background: url(../images/parallax/sao-paulo.jpg) fixed;background-size: cover;background-position: 100% center;}
.parallax2{background: url(../images/parallax/predios.jpg) fixed;background-size: cover;background-position: 100% center;}
.parallax3{background: url(../images/parallax/construcao-civil.jpg) fixed;background-size: cover;background-position: 100% center;} 
.parallax4{background: url(../images/parallax/homens-trabalhando.jpg) fixed;background-size: cover;background-position: 100% center;}
 
/*BACKGROUND*/
.bg_blue{background-color: #0E96E5; height: auto;color: white;padding: 1%;}
.bg_green{background-color: #008040; height: auto;color: white;padding: 1%;}
.bg_yellow{background-color: #F2AA27; height: auto;color: white;padding: 1%;} 
.bg_red{background-color: #F43E33; height: auto;color: white;padding: 1%;}
.bg_purple{background-color: #7551CD; height: auto;color: white;padding: 1%;}
.bg_pink{background-color: #9B9B9B; height: auto;color: white;padding: 1%;}
.bg_black{background-color: black; height: auto;color: white;padding: 1%;}
.bg_orange{background: #E97218; height: auto;color: white;padding: 1%;}
.bg_gray{background: gray; height: auto;color: white;padding: 1%;}
.bg_black{background: #000000; height: auto;color: white;padding: 1%;}
.bg_blue_bold{background: #004080; height: auto;color: white;padding: 1%;}

/*FOOTER GERAL*/  
.footer{margin-top:10px;padding: 10px 0;height:100%;}
.footer a{font-size: 14px; color: #fff; font-variant: small-caps;}
.footer a:hover{text-decoration: underline;}